/*the containing div for the form*/
#formDiv {
    border-style: solid;
    border-width: 2px;
    border-color: dodgerblue;
}

/*the containing div for the table*/
#tableDiv {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: dodgerblue;
}

/*the navbars*/
.navbar {
    position: relative;
    margin-top: 0px;
    bottom: 60px;
}

/*makes every other td a darker color*/
tr:nth-child(even) {
    background-color: #dddddd;
}